# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/node_modules/.cache
/node_modules/.eslint


# testing
/coverage

# production
/build

# misc
.DS_Store
